body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #111827;
    color: white;
}

.main-container {
    background-color: #1F2937;
    width: 450px;
    height: 450px;
    padding: 50px;
    border-radius: 10px;
}

h1 {
    font-family: "Karla", sans-serif;
    margin-top: 65px;
    margin-bottom: 10px;
}

.green-text {
    color: #4ADF86;
}

.subheading-p {
    color: #D5D4D8;
    margin-bottom: 0px;
}

button {
    margin-top: 50px;
    background-color: #10B981;
    color: white;
    font-size: medium;
    font-family: "Inter", sans-serif;
    border: none;
    border-radius: 6px;
    width: 190px;
    height: 40px;
}

button:active {
    transform: scale(0.99);
}

hr {
    border: 1px solid #2F3E53;
    margin: 35px auto;
}

.passwords-container {
    display: flex;
    justify-content: space-between;
}

.password-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 40px;
    text-align: center;
    background-color: #273549;
    color: #55F991;
    border-radius: 6px;

    cursor: pointer;
}